Collector.exe
github_token.txt
/build
/dist
/_pycache_
/Installer/build
/Installer/dist
/Installer/installer.spec
/Updater/__pychache__
/Updater/build
/Updater/dist
/Updater/UpdateCollector.spec
/web/dist
/web/User/Data
/venv